@import url('https://fonts.googleapis.com/css?family=Domine&display=swap');

* {
  font-family: sans-serif;
}

body {
background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23d6cfc7' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
max-width: 1100px;
margin: 0 auto;
}

.playerOneCard, .playerTwoCard {
  display: inline-block;
  padding-top: 20px;
  width: 300px;
  height: 350px;
  text-align: center;
  vertical-align: top;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  border-radius: 5px;
}

.playerOneCard {
  margin: 120px 15px 0 0;
}

.playerTwoCard {
  margin: 120px 0 0 15px;
}

.Life-line {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: #32dbc6;
}

button {
  background-color: white;
  border: 1px solid #bfbfbf;
  color: #bfbfbf;
  padding: 12px 27px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}

.buttonActive {
  background-color: #ff6768;
  color: white;
  border: none;
}

.buttonActive:hover {
  background-color: #ca3c3d;
}


main {
  margin: 0 auto;
  max-width: 460px;
  background-color: rgba(255, 255, 255, 0.5);
  display: inline-block;
}



/* The Tic Tac Toe Columns.  */
.cell {
  height: 150px;
  width: 150px;
  background: #f0e9e1;
  display: inline-block;
  margin-top: 5px;
  text-align: center;
  vertical-align: middle;
  font-size: 55px;
  line-height: 150px;
  border-radius: 10px;
}

.cell:hover{
  background: #ff6768;
}

.playerSelect {
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  display: inline-block;
  background-color: white;
  width: 150px;
}

.playerTurn {
  font-size: 18px;
  font-family: sans-serif;
  font-style: italic;
  text-align: center;
  color: #32dbc6;
  margin: 18px 0;
}

.playerOneAvatar, .playerTwoAvatar{
  width: 200px;
  display: inline-block;
  margin: 0;
}

.hidden {
  visibility: hidden;
}

h3 {
  text-align: center;
  font-family:'Domine', serif;
  margin-top: 0;
}

span {
  font-family:'Domine', serif;
  color: #32dbc6;
}
/* --------------------------------- */

.playAgainMessage {
  color: white;
  background-color: #32dbc6;
  margin-top: 15px;
  padding: 10px 20px;
  border-radius: 3px;
}

.playAgainMessage:hover {
  background-color: #239c8d;
}

h1 {
  text-align: center;
  font-family: 'Domine', serif;
  margin-bottom: 10px;
}

h2 {
  margin-top: 0;
  text-align: center;
}


/* a {
  font-size: 60px;
  line-height: 150px;
  text-decoration: none;
  color: black;

}

a:hover {
  visibility: visible;
} */
